# Expression's :
    expression = 9 + 1
    where 9 & 1 is OPERANDS (data:1,2.5,"apple",..)
            + is OPERATOR (symbol: +, -, //, /, %,...)

Expression is a combination of data / (OPERANDS)  & symbols / (OPERATORS) which produces the desire results.

    1. Arthimatic Operators (+,-,*,/,//,%,**)
    2. Relational Operators (<,>,<=,>=)
    3. Comparision Operators  (==,!=)
    4. Logical Operators (and ,or,not)
    5. Assignment Operators(+=,-=,*=,/=,//=,**=,%=)
    6. Bitwise Operators(&,|,~,>>,<<,^)
    7. Member ship Operators (in,notin)
    8. Identity Operators (is,isnot)

# ARTHIMATIC OPERATORS :

    1. PLUS ( + ) : 2 ways 

        Addition : [ int, float, complex, bool]  // for single value datatype
        Concatination : [ OPD1 + OPD2 -----> OPD1OPD2 ] // multi value datatype
                        [ str1 + str2 -----> str1str2 ]
                        [ list1 +list2-----> list1list2]
                        [tuple1 + tuple2---> tuple1tuple2]


$ Addition: 

when 2 operand are single value datatypes (int, float, bool, complex) addition is carryed out by simple additon of SVDT .

In [3]:
#Example: 1

a=10
b=22
sum=a+b
print(sum)
print(a+b)

32
32

In [6]:
#Example: 2

a=True
b=12.3
c=5.34
print(a+b)
print(a+b+c)
print(b+c)

13.3
18.64
17.64

In [7]:
#Example: 3

a=1
b=3+5j
c=4+7j
d=25.3

print(a+b+c+d)
print(a+b+c)
print(c+d)
print(a+b+d)

(32.3+12j)
(7+12j)
(29.3+7j)
(28.3+5j)

In [15]:
#Example: 4

a=True
b=False
g=True
c=12
d=2.45
e=3+5j
f=4+78j
print(a+b+g)
print(a+b+c+d+e+f+g)
print(a+b+g)
print(c+d+e+f)

2
(23.45+83j)
2
(21.45+83j)

$ Concatination : (merging)

In concatination the operands used should be of same datatype.

In [16]:
#Example: 1

s="python"
t="programming"
print(s+t)
merge=t+s
print(merge)

pythonprogramming
programmingpython

In [17]:
#Example: 2

s="cat"
t=20
print(s+t) #ERROR

TypeError: can only concatenate str (not "int") to str

In [18]:
#Example: 3

l=[1,2,3]
l1=[4,5,6]
print(l+l1)

[1, 2, 3, 4, 5, 6]

In [19]:
#Example: 4

t=(1,2,3)
t1=(4,5,6,7)
print(t+t1)

(1, 2, 3, 4, 5, 6, 7)

     2. Subtaction: ( - )

        used find the difference btw 2 operands
        takes and gives single value datatypes

In [21]:
#Example: 1

n1=12
n2=20
n3=27.645
n4=34+87j
n5=True
print(n1-n2)
print(n1-n2-n3)
print(n1-n2-n4)
print(n1-n2-n5)
print(n4-n5)

-8
-35.644999999999996
(-42-87j)
-9
(33+87j)

    3. Multiplication : ( * )
        used to find the product of the operands ----- 2 ways
        a. Product
        b. Increasing the memory

product:

supports(int, float, complex, boolean)

In [ ]:
#Example: 3