# Expression's :
    expression = 9 + 1
    where 9 & 1 is OPERANDS (data:1,2.5,"apple",..)
            + is OPERATOR (symbol: +, -, //, /, %,...)

Expression is a combination of data / (OPERANDS)  & symbols / (OPERATORS) which produces the desire results.

    1. Arthimatic Operators (+,-,*,/,//,%,**)
    2. Relational Operators (<,>,<=,>=)
    3. Comparision Operators  (==,!=)
    4. Logical Operators (and ,or,not)
    5. Assignment Operators(+=,-=,*=,/=,//=,**=,%=)
    6. Bitwise Operators(&,|,~,>>,<<,^)
    7. Member ship Operators (in,notin)
    8. Identity Operators (is,isnot)

# ARTHIMATIC OPERATORS :

    1. PLUS ( + ) : 2 ways 

        Addition : [ int, float, complex, bool]  // for single value datatype
        Concatination : [ OPD1 + OPD2 -----> OPD1OPD2 ] // multi value datatype
                        [ str1 + str2 -----> str1str2 ]
                        [ list1 +list2-----> list1list2]
                        [tuple1 + tuple2---> tuple1tuple2]


$ Addition: 

when 2 operand are single value datatypes (int, float, bool, complex) addition is carryed out by simple additon of SVDT .

In [3]:
#Example: 1

a=10
b=22
sum=a+b
print(sum)
print(a+b)

32
32

In [6]:
#Example: 2

a=True
b=12.3
c=5.34
print(a+b)
print(a+b+c)
print(b+c)

13.3
18.64
17.64

In [7]:
#Example: 3

a=1
b=3+5j
c=4+7j
d=25.3

print(a+b+c+d)
print(a+b+c)
print(c+d)
print(a+b+d)

(32.3+12j)
(7+12j)
(29.3+7j)
(28.3+5j)

In [15]:
#Example: 4

a=True
b=False
g=True
c=12
d=2.45
e=3+5j
f=4+78j
print(a+b+g)
print(a+b+c+d+e+f+g)
print(a+b+g)
print(c+d+e+f)

2
(23.45+83j)
2
(21.45+83j)

$ Concatination : (merging)

In concatination the operands used should be of same datatype.

In [16]:
#Example: 1

s="python"
t="programming"
print(s+t)
merge=t+s
print(merge)

pythonprogramming
programmingpython

In [17]:
#Example: 2

s="cat"
t=20
print(s+t) #ERROR

TypeError: can only concatenate str (not "int") to str

In [18]:
#Example: 3

l=[1,2,3]
l1=[4,5,6]
print(l+l1)

[1, 2, 3, 4, 5, 6]

In [19]:
#Example: 4

t=(1,2,3)
t1=(4,5,6,7)
print(t+t1)

(1, 2, 3, 4, 5, 6, 7)

     2. Subtaction: ( - )

        used find the difference btw 2 operands
        takes and gives single value datatypes

In [21]:
#Example: 1

n1=12
n2=20
n3=27.645
n4=34+87j
n5=True
print(n1-n2)
print(n1-n2-n3)
print(n1-n2-n4)
print(n1-n2-n5)
print(n4-n5)

-8
-35.644999999999996
(-42-87j)
-9
(33+87j)

    3. Multiplication : ( * )
        used to find the product of the operands ----- 2 ways
        a. Product
        b. Increasing the memory

$ product:

supports(int, float, complex, boolean)

In [3]:
#Example: 1

a=345
b=32.56
c=23+4j
d=True
e=False
print(a*b*c*d) 
print(a*b)
print(a*b*c)
print(d*c)
print(a*d)
print(a*b*c*d*e)
print(a*b*d*e)
print(a*d*e)

(258363.6+44932.8j)
11233.2
(258363.6+44932.8j)
(23+4j)
345
0j
0.0
0

$ Increasing the memory :

    [str -str]
    [list -list]
    [tuple -tuple]
    does not supports dictionary

In [4]:
#Example: 2

n="raju"
print(n*4)

rajurajurajuraju

In [5]:
#Example: 3

l=[1,2,3,4,5]
print(l*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
#Example: 4

t=(1,2,3,4,5,6,7)
print(t*3)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [7]:
#Example: 5

d={1:"tree",2:34}
print(d*3)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

    4. Division: ( / )

          DT supports : [ int, float, Boolean, complex ]

        It gives the quotent value as result between 2 operands, they both should have to be DT 'int' then result will be of 'float' DT. 

        NOTE: int/int ---> float

In [12]:
#Example: 1

a=10
b=5.67
c=2.35+7j
d=False
e=True
print(a/b)
print(b/a)
print(c/a)
print(d/a)
print(c/2)
print(c/d)

1.7636684303350971
0.567
(0.23500000000000001+0.7j)
0.0
(1.175+3.5j)

ZeroDivisionError: complex division by zero

    5. Floor Division : ( // )
         
        DT supports : [ int, float]

    NOTE : int/int ----> int

In [16]:
#Example: 1

n=10
n1=2
n3=15.5
n4=3.5
print(n/n1)
print(n//n1)
print(n3//n4)

5.0
5
4.0

    6. Modulus :

        It is used to find reminder between given operands.

    Working principal : numarator < Denominator----> numarator

    Ex: 0%2--->0
        1%2--->1
        1%10-->1
        5%10-->5

In [17]:
#Example: 1

n1=10
n2=3
print(n1%n2)

1

In [19]:
#Example: 2

n=23.5
m=45
p=4+7j
print(n%m)
print(p%n)

23.5

TypeError: unsupported operand type(s) for %: 'complex' and 'float'

    7. Power ( ** ):

        It is used to find power between 2 operands

In [20]:
#Example: 1

n=10
v=2
print(n**v)

100

In [21]:
#Example: 2

v=5
n=4
print(v**n)

625