# LIST : [ , ,  ....., ]

syntax:

        varname=[obj1,obj2,obj3, ...... ,objn]
                 
                    or
        
         varname=[obj1,obj2,obj3,...
                  obj14,obj23.......
                  objn]

In [1]:
# Ex:1
k=[1,2,3,56,788.-23,533]
print(type(k))
print(k)

<class 'list'>
[1, 2, 3, 56, 765.0, 533]

In [2]:
# Ex:2
h=[2,3,4,5,
   56,78.80,564545,
   22234]
print(type(h))
print(h)

<class 'list'>
[2, 3, 4, 5, 56, 78.8, 564545, 22234]

In [3]:
# Ex:3
d=["string",'int',23,-45,35.9090,2-6j]
print(type(d))
print(d)

<class 'list'>
['string', 'int', 23, -45, 35.909, (2-6j)]

List allows duplicate values :

In [4]:
h=[1,3,2,222,2,2,2,2,2,45,86,86,56,34,3,1]
print(h)

[1, 3, 2, 222, 2, 2, 2, 2, 2, 45, 86, 86, 56, 34, 3, 1]

List stores objects in sequence :

In [5]:
l1=["rani",'reya','mahima',"pooja"]
print(l1)

['rani', 'reya', 'mahima', 'pooja']

# List supports indexing

In [7]:
# Example : 1

l=[1,2,3,4,5]
print(l[0],l[-1])  # accessing single elements in a single row 
print(l[2])        # accessing single elements in a different row 
print(l[4])
print(l[-4])

1 5
3
5
2

In [8]:
# Example : 2     / l=[1,2,30,"raja"] / print:1,raja,r.

l=[1,2,30,"raja"]
print(l[0])
print(l[-1])
print(l[3][0])

1
raja
r

In [9]:
# Example : 3     / l=["raja",30,"hero"] /print: o, a, 30, raja, hero. 

l=["raja",30,"hero"]
print(l[2][3])
print(l[0][1]) #r-a-
print(l[0][3]) #raj-a-
print(l[1])
print(l[0])
print(l[2])

o
a
a
30
raja
hero

In [10]:
# Example : 4  /l=[50,-200,"tiger","dream big","coding"] / print :50, coding, tiger, n, d, m, c, b.

l=[50,-200,"tiger","dream big","coding"]
print(l[0])
print(l[4])
print(l[2])
print(l[4][4])
print(l[3][0]) #-d-ream big
print(l[4][2]) # co-d-ing
print(l[3][4])
print(l[4][0])
print(l[3][6])

50
coding
tiger
n
d
d
m
c
b

In [11]:
# Example : 5  / l=[[1,2,3],"hero","don"] /print :1, 3, e, o, d, h, n.

l=[[1,2,3],"hero","don"]
print(l[0][0])
print(l[0][2])
print(l[1][1])
print(l[1][3]) # her-o-
print(l[2][1]) # d-o-n
print(l[2][0])
print(l[1][0])
print(l[2][2])

1
3
e
o
o
d
h
n

In [13]:
# Example : 6 / p=[["jack","jon"],"donkey"] / print: jack, jon, donkey, d, e, k, a, ["jack,jon"]

p=[["jack","jon"],"donkey"]
print(p[0][0])
print(p[0][1])
print(p[1])
print(p[1][0])
print(p[1][4])
print(p[1][3])
print(p[0][0][1])
print(p[0])

jack
jon
donkey
d
e
k
a
['jack', 'jon']

In [21]:
# Example : 7 / r=[[1,["hero",23]]] / print : r, 23, 1 ,hero

r=[[1,["hero",23]]]
print(r[0][1][0][2])
print(r[0][1][1])
print(r[0][0])
print(r[0][1][0])

r
23
1
hero

# List is a  MUTABLE  object

values stored in the list can be modified

In [23]:
# Example : 1
d=[2]
print("Before modification :",d)
d[0]=150
print("After the modification ;",d)

Before modification : [2]
After the modification ; [150]

In [22]:
# Example : 2
l=[100,200,300,400,500]
print("Before modification :",l)
l[0]=150
print("After the modification ;",l)

Before modification : [100, 200, 300, 400, 500]
After the modification ; [150, 200, 300, 400, 500]

in list entier character can be changed       
in list single element in a character  cant be changed

In [24]:
# Example : 3

j=["raja"]
print(j)
j[0]="ramu"   # raja--->ramu
j[0][0]='k'   # raja--->kaja---->ERROR MESSAGE

['raja']

TypeError: 'str' object does not support item assignment