# TUPLE :

enclosed and seperated with ' ( , ) ' /  directly seperated with ' ,  '

It is a collection of HOMOGENEOUS and HETEROGENEOUS elements

syntax:


          varname=(obj1,obj2,obj3,......objn)
                     
                     or

          varname=(obj1,obj2,obj3,...
                    obj12,obj13,....
                    objn)

                    or
          varname=obj1,obj2,obj3,...objn
                
                   or

          varname=obj1,obj2,obj3,.....
                   obj12,obj13.....
                   objn

                   or

           varname=(obj1,) or obj1,

~     Tuple stores objects in a sequence  
~     Tuple supports indexing

1.syntax:


          varname=(obj1,obj2,obj3,......objn)

In [1]:
# Example: 1

t=(1,2,3)
print(t,type(t))

(1, 2, 3) <class 'tuple'>

2.syntax:
         
           varname=(obj1,obj2,obj3,...
                    obj12,obj13,....
                    objn)

In [15]:
# Example: 2
t=(1,2,3,4,
   5,67,78,9,
   11,12,23,34)   #pint 9 usinr +ve / -ve indexing 
print(t[7])
print(t[-5])

9
9

In [11]:
# Example: 3
g=(1,"w","u",
'fog',"sunny",2.2,7+1j,
700,89,"rat")
print(g[2])
print(g[6])
print(g[-5])

u
(7+1j)
2.2

3.syntax: 
         
      varname=obj1,obj2,obj3,...objn

In [17]:
# Example: 4

g=1,"w","u",'fog',"sunny",2.2,7+1j
print(g[1])
print(g[-1],type(g))
e=g[-1]
print(g[-1],type(e))
print(g[-3][4])

w
(7+1j) <class 'tuple'>
(7+1j) <class 'complex'>
y

4.syntax:
       
        varname=obj1,obj2,obj3,.....
                   obj12,obj13.....
                   objn

In [10]:
# Example: 5

g=1,"w","u",
'fog',"sunny",2.2,7+1j,
700,89,"rat"
print(g[2])
print(g[-2])
print(g[-5])     # ERROR

u
w

IndexError: tuple index out of range

In [13]:
# Example: 6

g=1,2,3,4,
6,6,7,9,2,
2,4,6,7,1
print(g[2])
print(g[7]) # ERROR
print(g[-5])

3

IndexError: tuple index out of range

5. syntax:
            
             varname=(obj1,) or obj1,

In [26]:

# Example: 7

t=(1,)
p=2,
print(t)
print(type(t))
print(p)
print(type(p))

(1,)
<class 'tuple'>
(2,)
<class 'tuple'>

In [27]:
# Example: 8
h=1,"w","u",'fog',"sunny",2.2,7+1j,700,89,"rat"
print(h[4])
print(h[4][3])
print(h[-1][-2])

sunny
n
a

In [4]:
# Example: 9

d=(1)
print(d,type(d))

1 <class 'int'>

In [5]:
# Example: 10  / t=(1,2,30,"raja")/ print: j

t=(1,2,30,"raja")
print(t[3][-2])

j

In [9]:
# Example: 11  / w=("raja",40,"hero")/ print: o, a, 40, raja, hero  

w=("raja",40,"hero")
print(w[2][3])    # her-o-  +ve indexing
print(w[2][-1])   # her-o-  -ve indexing
print(w[0][1])    # r-a-ja  +ve indexing
print(w[0][-3])   # r-a-ja  -ve indexing
print(w[0][3])    # raj-a-  +ve indexing 
print(w[0][-1])   # raj-a-  -ve indexing
print(w[1])
print(w[0])
print(w[2])

o
o
a
a
a
a
40
raja
hero

In [28]:
# Example: 12 / k=(50,-120,"tiger",'bigdream',"coding") /print: 50, coding, tiger, m, n,c, d, b

k=(50,-120,"tiger",'bigdream',"coding")
print(k[0])
print(k[-1])
print(k[2])
print(k[3][7])
print(k[4][-2])
print(k[4][0])
print(k[3][3])
print(k[4][2])
print(k[3][0])

50
coding
tiger
m
n
c
d
d
b

In [29]:
# Example: 13 / v=((1,2,3),"hero","don") / print: 1, 3, e, o in hero & don, d, h, n. 

v=((1,2,3),"hero","don")
print(v[0][0])
print(v[0][2])
print(v[1][1])
print(v[1][-1])  # her-o-
print(v[2][1])   # d-o-n
print(v[2][0])
print(v[1][0])
print(v[2][2])

1
3
e
o
o
d
h
n

In [31]:
# Example: 14 / y=(("jack","jon"),"donkey") / print: jack, jon, donkey, d, e, k, a, ("jack","jon").
  
y=(("jack","jon"),"donkey")
print(y[0][0])
print(y[0][1])
print(y[1])
print(y[1][0])
print(y[1][4])   
print(y[1][3])
print(y[0][0][1])
print(y[0])

jack
jon
donkey
d
e
k
a
('jack', 'jon')

In [8]:
# Example: 15 / o=((1,("hero",23))) / print: hero ,23, r

p=((1,("hero",23)))
print(p[1][0])
print(p[1][1])
print(p[1][0][2])

hero
23
r

# Tuple allows DUPLICATE VALUES

In [10]:
t=1,2,3,4.1,2,2,2,3,3,31,1,1,1,1
p=(1,23,3,1,2,22,2,22,2,3,3,3,3,34,4,4,4)
print(t)
print(type(t))
print(p)
print(type(p))

(1, 2, 3, 4.1, 2, 2, 2, 3, 3, 31, 1, 1, 1, 1)
<class 'tuple'>
(1, 23, 3, 1, 2, 22, 2, 22, 2, 3, 3, 3, 3, 34, 4, 4, 4)
<class 'tuple'>

# Tuple is IMMUTABLE

  can NOT be MODIFIED

In [19]:
# in tuple , character  cannot be changed 

f=("apple","cherry","orange")
print(f,type(f))

# entier tuple can be changed 
 
f="papaya",
print(f ,type(f))

# single element in a tuple can not be changed 

f[0]= "mango"  #papaya----> mango
print(f)

('apple', 'cherry', 'orange') <class 'tuple'>
('papaya',) <class 'tuple'>

TypeError: 'tuple' object does not support item assignment