# why we need type casting?

suppose if we have a task w.r.t one data type but given in another/different data type, then we need type casting to convert the given data type into our requried data type tp perform particular task.

# Type Casting Operations:
    1. int(value/data/varname)
    2. float(value/data/varname)
    3. bool(value/data/varname)
    4. complex(value/data/varname)
    5. str(value/data/varname)
    6. list(value/data/varname)
    7. tuple(value/data/varname)
    8. set(value/data/varname)
    9. dict(value/data/varname)

# 1. Convering "int" datatype into another datatype

    int-------------> float, complex, boolean/ bool, str

In [93]:
# Example: 1

a=50

print(type(a))
c=float(a)
print(c)
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))

# print(list(a))  # 'int' object is not iterable


# print(tuple(a))   #'int' object is not iterable


# print(set(a))  # TypeError: 'int' object is not iterable


#print(dict(a))    #'int' object is not iterable

<class 'int'>
50.0
50.0
(50+0j)
True
50
f
['fruit', 'mango']
('fruit', 'mango')
{'mango', 'fruit'}

ValueError: dictionary update sequence element #0 has length 5; 2 is required

# 2. Converting "float" DT into another DT 
 
    float------->int, complex, bool, str

In [96]:
#Example: 1

f=10.2

print(int(f))

print(complex(f))

print(bool(f))

print(str(f))
print(str(f)[2])
print(str(f)[3])
print(str(f)[0])

print(str(f)[2])

# print(list(f))   #TypeError: 'float' object is not iterable
# print(tuple(f))  #TypeError: 'float' object is not iterable
# print(set(f))  #TypeError: 'float' object is not iterable
# print(dict(f))   #TypeError: 'float' object is not iterable

10
(10.2+0j)
True
10.2
.
2
1
.

TypeError: 'float' object is not iterable

# 3. Converting "Complex" DT into another DT

    complex------>bool,str

In [34]:
c=10+2j
print(c)
print(type(c))

#print(int(c))    #TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

#print(float(c))  #TypeError: float() argument must be a string or a real number, not 'complex'

print(bool(c))

print(str(c))
print(str(c)[3])
print(str(c)[0])

# print(list(c))   #TypeError: 'complex' object is not iterable

# print(tuple(c))  #TypeError: 'complex' object is not iterable


# print(set(c))  #TypeError: 'complex' object is not iterable 

# print(dict(c))   #TypeError: 'complex' object is not iterable

(10+2j)
<class 'complex'>
True
(10+2j)
+
(

TypeError: 'complex' object is not iterable

# 4. Converting "Boolean" Dt into another DT

    Boolean--------->int, float, complex,str

In [97]:
#Example:1

b=True
print(int(b))

print(float(b))

print(complex(b))

print(str(b))
print(str(b)[0])
print(str(b)[2])

# print(list(b))   #TypeError: 'bool' object is not iterable

# print(tuple(b))  #TypeError: 'bool' object is not iterable
# print(set(b))  #TypeError: 'bool' object is not iterable

# print(dict(b))   #TypeError: 'bool' object is not iterable

1
1.0
(1+0j)
True
T
u

TypeError: 'bool' object is not iterable

# 5. Converting "String" DT into another DT

String with pure integers 

    String--------->int, float, boolean, complex, list, tuple, set

string with alphabets & alpha-numerics

    string---------->boolean, list, tuple,set

In [98]:
# ( 1 ) String with only integers

s1="123"
s2="123.34"
s3="2+3j"

print(int(s1))
# print(int(s2)) #ValueError: invalid literal for int() with base 10: '123.34'
# print(int(s3))  #ValueError: invalid literal for int() with base 10: '2+3j'

print(float(s1))
print(float(s2))
# print(float(s3))   # ValueError: could not convert string to float: '2+3j'

print(complex(s1))
print(complex(s2))
print(complex(s3))

print(bool(s1))
print(bool(s2))
print(bool(s3))

print(list(s1))
print(list(s2))
print(list(s3))

print(tuple(s1))
print(tuple(s2))
print(tuple(s3))

print(set(s1))
print(set(s2))
print(set(s3))

# print(dict(s1))   #ValueError: dictionary update sequence element #0 has length 1; 2 is required
# print(dict(s2))   #ValueError: dictionary update sequence element #0 has length 1; 2 is required
# print(dict(s3))    #ValueError: dictionary update sequence element #0 has length 1; 2 is required

123
123.0
123.34
(123+0j)
(123.34+0j)
(2+3j)
True
True
True
['1', '2', '3']
['1', '2', '3', '.', '3', '4']
['2', '+', '3', 'j']
('1', '2', '3')
('1', '2', '3', '.', '3', '4')
('2', '+', '3', 'j')
{'2', '1', '3'}
{'2', '4', '1', '3', '.'}
{'j', '3', '2', '+'}

In [91]:
# ( 2 ) String with alphabets & alpha-numerics

s1="hero"
s2="cap001"

# print(int(s1))    # ValueError: invalid literal for int() with base 10: 'hero'
# print(int(s2))    # ValueError: invalid literal for int() with base 10: 'cap001'

# print(float(s1))  # ValueError: could not convert string to float: 'hero'
# print(float(s2))  # ValueError: could not convert string to float: 'hero'

# print(complex(s1)) # ValueError: complex() arg is a malformed string
# print(complex(s2)) # ValueError: complex() arg is a malformed string

print(bool(s1)) 
print(bool(s2))

print(list(s1))
print(list(s2))
print(list(s1)[3])
print(list(s2)[-1])

print(tuple(s1))
print(tuple(s2))
print(tuple(s1)[2])
print(tuple(s2)[-3])

print(set(s1))
print(set(s2))



# print(dict(s1))  # ValueError: dictionary update sequence element #0 has length 1; 2 is required
# print(dict(s2))  # ValueError: dictionary update sequence element #0 has length 1; 2 is required

True
True
['h', 'e', 'r', 'o']
['c', 'a', 'p', '0', '0', '1']
o
1
('h', 'e', 'r', 'o')
('c', 'a', 'p', '0', '0', '1')
r
0
{'e', 'o', 'h', 'r'}

TypeError: 'set' object is not subscriptable

# 6. Converting "list" DT into another DT

    list------------>str,bool,tuple,set,dict

In [27]:
l=[1,2,3,2,2,3,4,2,1,4,5,6]

# print(int(l))   # TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'
# print(float(l)) # TypeError: float() argument must be a string or a real number, not 'list'
# print(complex(l)) # TypeError: complex() first argument must be a string or a number, not 'list'

print(bool(l))

print(str(l))

print(tuple(l))

print(set(l))

# print(dict(l))  # TypeError: cannot convert dictionary update sequence element #0 to a sequence

True
[1, 2, 3, 2, 2, 3, 4, 2, 1, 4, 5, 6]
(1, 2, 3, 2, 2, 3, 4, 2, 1, 4, 5, 6)
{1, 2, 3, 4, 5, 6}

In list Dictionary can't be accessed directly as shown above


BUT a list can be converted into dictionary if it contains sub-elements of updated sequence of element 2.

In [101]:
#Example: 1

l1=[["name","ramu"],["age",34],["cars",["audi","BMW","porsche"]],[1,100]]
print(dict(l1))

{'name': 'ramu', 'age': 34, 'cars': ['audi', 'BMW', 'porsche'], 1: 100}

In [104]:
#Example: 2

l2=[("name","jack"),("age",23)]
print(dict(l2))

{'name': 'jack', 'age': 23}

# 7. Converting "Tuple" DT into another DT
    Tuple----------> bool,str, list,set,dict

In [20]:
t=(1,2,3,1,1,2,4,5,1,3,4,15,"ramu","hari")

# print(int(t))  # TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

# print(float(t))  # TypeError: float() argument must be a string or a real number, not 'tuple'

# print(complex(t)) # TypeError: complex() first argument must be a string or a number, not 'tuple'

print(bool(t))

print(str(t))
print(str(t)[4])
print(str(t)[5])
print(str(t)[-7])
print(str(t)[-6])

print(list(t))
print(list(t)[6])
print(list(t)[7])
print(list(t)[8])

print(set(t))
# print(set(t)[2])  # TypeError: 'set' object is not subscriptable

#print(dict(t))  # TypeError: cannot convert dictionary update sequence element #0 to a sequence

True
(1, 2, 3, 1, 1, 2, 4, 5, 1, 3, 4, 15, 'ramu', 'hari')
2
,
'
h
[1, 2, 3, 1, 1, 2, 4, 5, 1, 3, 4, 15, 'ramu', 'hari']
4
5
1
{1, 2, 3, 4, 5, 'hari', 15, 'ramu'}

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In Tuple, Dictionary can't be accessed directly as shown above


BUT a Tuple can be converted into dictionary if it contains sub-elements of updated sequence of element 2.

In [24]:
# tuple contains tuple

t1=(("name","jashu"),("age",30),("marks","100"))
print(dict(t1))

{'name': 'jashu', 'age': 30, 'marks': '100'}

In [26]:
# tuple contains tu"ple & list

t2= (("employee","ravi"),("department",'developer'),["role",'HR'])
print(dict(t2))

{'employee': 'ravi', 'department': 'developer', 'role': 'HR'}

# 8. Converting "set" DT into another DT 

set----------->bool, str, list,tuple,dict

In [37]:
s={1,2,3,4,2,1,3,3,4,2}
print(bool(s))

print(str(s))
print(str(s)[7])

print(list(s))
print(list(s)[2])

print(tuple(s))
print(tuple(s)[3])

print(dict(s))

True
{1, 2, 3, 4}
3
[1, 2, 3, 4]
3
(1, 2, 3, 4)
4

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In sets, Dictionary can't be accessed directly as shown above


BUT a sets can be converted into dictionary if it contains sub-elements of updated sequence of element 2.

In [43]:
s={(1,2),(3,4),("name","ramu"),("rollno",10)}
print(dict(s))
t={[1,2]}  # unhashable type: 'list'
print(dict(t))

{'rollno': 10, 1: 2, 3: 4, 'name': 'ramu'}

TypeError: unhashable type: 'list'

# 9. Converting "dict" DT into another DT

dict---->bool,str,list,tuple,set

In [47]:
d={"name":"ramu","age":45}

print(bool(d))
print(str(d))
print(list(d))
print(tuple(d))
print(set(d))

True
{'name': 'ramu', 'age': 45}
['name', 'age']
('name', 'age')
{'age', 'name'}