# Slicing

~ process of retrieving / reading multiple elements from the given collection 

~ type of result will be same type as collection 

~ Slicing is used to print/ store the values

    syntax: varname[starindex : endindex : updation]

~ (Start index) value to (End index -1) value are printed as result

~ Never get's error in slicing

# To do slicing we need to follow 3 rules for both +ve & -ve updation :

1. check the start index(SI)
2. if start inex is empty , SI value depends on updation value

        if updation value is +ve then SI will starts from 1st value from left i.e.,(0: index)

        if updation values is -ve then SI will starts from the 1st value from right i.e.,(-1:index)

2. check in which direction curser have to move 

        if +ve move --------> direction

        if -ve move <-------- direction
        
3. if end index(EI) is with in the direction ,then values  between SI & EI are printed 
4. if end index is in opposite direction ,as no values are present between SI & EI Empty space is printed

In [9]:
#Example: 1    default, update value is seated to +1

s="python"
print(s[0:3:1])
print(s[:3:1])
print(s[0:3:]) 
print(s[:3:])
 
print(s[3:5])
print(s[3:5:])

print(s[0:5])
print(s[0:5:])
print(s[:5:])

print(s[0:3])
print(s[0:3:])
print(s[:3:])

pyt
pyt
pyt
pyt
ho
ho
pytho
pytho
pytho
pyt
pyt
pyt

In [10]:
#Example:2

s="im a developer"
print(s[:7])
print(s[6:2])
print(s[3:9])
print(s[4:7])
print(s[6:])
print(s[2:6])
print(s[1:5])

im a de

a deve
 de
eveloper
 a d
m a

In [12]:
#Example:3

s="Ramanujan"
print(s[:7])
print(s[6:2]) #space
print(s[3:9])
print(s[4:7])
print(s[7:4]) #space
print(s[6:])
print(s[2:6])
print(s[1:5])

Ramanuj

anujan
nuj

jan
manu
aman

# Updation with a value 

updation value:2,3,......

In [13]:
#Example:1

st="python"
print(st[0:5:2])

pto

In [14]:
#Example:2

st="Ramanujan"
print(st[:4:3])
print(st[:7:3])
print(st[3::3])
print(st[5::3])

Ra
Raj
aj
un

# Updation using -ve indexing

In [15]:
#EXampl: 1

st="python"
print(st[::-1])
print(st[::-2])
print(st[5:-5:-1])
print(st[:4:-1])

nohtyp
nhy
noht
n

# List with +ve & -ve indexing

In [16]:
l=[1,2,3,100,"raja","rani","zero"]
print(l[0:3])
print(l[4:3])
print(l[4::2])
print(l[0:-1])
print(l[4][1:])
print(l[6][::-1])
print(l[::-3])
print(l[99::-4])
print(l[6:-1:])

[1, 2, 3]
[]
['raja', 'zero']
[1, 2, 3, 100, 'raja', 'rani']
aja
orez
['zero', 100, 1]
['zero', 3]
[]

# Dictionary Example

In [28]:
d={"rollno":1,1:'Ramarao',"CGPA":10,"school":'Narayana school',"subjects":7}
print(d["rollno"])

print(d['CGPA'])
print(d["CGPA"])

print(d[1])
print(d["school"][-6:-1:1])
print(d["school"][0:9:1])
print(d["subjects"])

1
10
10
Ramarao
schoo
Narayana
7

# Practice Examples : (with combination of str, int, list, dict)

In [37]:
#Example: 1 


# l=["James franklin", [100,200,"rohit"],{"name":'meason',"age":23},"virat","RCB"]

# PRINT: "James" , "frank" ,[100,200] ,"meas" , 23, "rat", "RCB", "BCR", "tar", "riv", "nosem", "hit", 
#           [200,100] , nilknarf, ["rohit",200] ,["virat", "RCB"], ["RCB","virat"]


l=["James franklin", [100,200,"rohit"],{"name":'menson',"age":23},"virat","RCB"]
print(l[0])
print(l[0][0:5:])
print(l[0][6:11:])
print(l[1][0:2:])
print(l[2]["name"][0:4:1])
print(l[2]['age'])
print(l[3][2::])
print(l[4])
print(l[4][::-1])
print(l[3][:-4:-1])
print(l[3][2::-1])
print(l[2]["name"][::-1])
print(l[1][2][2::])
print(l[1][2][2::-1])
print(l[1][-2::-1])
print(l[0][:5:-1])
print(l[1][:0:-1])
print(l[3::1])
print(l[:2:-1])

James franklin
James
frank
[100, 200]
mens
23
rat
RCB
BCR
tar
riv
nosnem
hit
hor
[200, 100]
nilknarf
['rohit', 200]
['virat', 'RCB']
['RCB', 'virat']

In [42]:
# Example : 2
# d={1:["oneplus","Apple"], 2:{"name1":"venugopal", "name2":"Amaresh"},"a":"Anaconda"} 
# PRINT : oneplus , Apple , venu ,gopal , Amaresh , Anaconda , elppA , sulp , ["Apple","onepluse"],
#               "Ana", resh , lap , pp, hse, "onepluseApple" ,"Venuresh" 


d={1:["oneplus","Apple"], 2:{"name1":"venugopal", "name2":"Amaresh"},"a":"Anaconda"} 
print(d[1][0])
print(d[1][1])
print(d[2]["name1"][0:4:1])
print(d[2]["name1"][4::1])
print(d[2]["name2"])
print(d['a'])
print(d[1][1][::-1])
print(d[1][0][6:2:-1])
print(d[1][::-1])
print(d['a'][:3:])
print(d[2]["name2"][-4::1])
print(d[2]["name1"][:-4:-1])

print(d[1][1][1:3:1])
print(d[2]["name2"][6:3:-1])
print(d[1][0]+d[1][1])
print(d[2]["name1"][0:4:1]+d[2]["name2"][3::1])

oneplus
Apple
venu
gopal
Amaresh
Anaconda
elppA
sulp
['Apple', 'oneplus']
Ana
resh
lap
pp
hse
oneplusApple
venuresh